<button id='add-file-button' class='display-button'>CARGAR ARCHIVO</button>

<div class='invisible' id='upload-box'>
    <form method="post" action="/conteos" enctype="multipart/form-data">
        <input type='file' name='file'>
        <br />
        <input type="submit" value="Subir">
    </form>
</div>

<table class='reports-table'>
    <thead>
        <th>CONTEO N°</th>
        <th>Archivo</th>
    </thead>
    <tbody>
        {{#each listaFiles}}
        <tr>
            <td>
                {{this.name}}
            </td>
            <td><a href='{{this.path}}'>
                    {{this.file}}
                </a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>