<table>
    <thead>
        <th>AÑO</th>
        <th>ARTICULOS</th>
        <th>CANTIDAD POR ARTICULO</th>
        <th>UNIDADES POR SISTEMA</th>
        <th>UNIDADES FISICAS</th>
        <th>DIFERENCIAS NETAS</th>
        <th>% DE EFECTIVIDAD SOBRE NETAS</th>
        <th>DIFERENCIAS ABSOLUTAS</th>
        <th>% DE EFECTIVIDAD SOBRE ABSOLUTAS</th>
    </thead>
</table>