<div class='registerBox2'>
    <h3>Ingresar datos</h2>
        <div class="registerBox">
            <hr />
            <br /> <br />
            <form method="POST" action="/registrar">
                <table class='formularioRegistro'>
                    <tr>
                        <td><label for="name">Nombre: </label></td>
                        <td><input type="text" name="name" id="name"></td>
                    </tr>
                    <tr>
                        <td><label for="lastname">Apellido: </label></td>
                        <td><input type="text" name="lastname" id="lastname"></td>
                    </tr>
                    <tr>
                        <td><label for="username">Nombre de usuario: </label></td>
                        <td><input type="text" name="username" id="username"></td>
                    </tr>
                    <tr>
                        <td><label for="mail">Mail: </label></td>
                        <td><input type="text" name="mail" id="mail"></td>
                    </tr>
                    <tr>
                        <td><label for="password">Contraseña: </label></td>
                        <td><input type="password" name="password" id="password"></td>
                    </tr>
                    <tr>
                        <td><label for="passwordRep">Repetir contraseña: </label></td>
                        <td><input type="password" name="passwordRep" id="passwordRep"></td>
                    </tr>
                    <tr>
                        <td><label for="edit">Puede editar</label></td>
                        <td><input type="checkbox" name="edit" id="edit"></td>
                    </tr>
                    <tr>
                        <td><label for="admin">Puede administrar</label></td>
                        <td><input type="checkbox" name="admin" id="admin"></td>
                    </tr>
                    <tr>
                        <td><input type="submit" value="Submit"></td>
                    </tr>
                </table>
            </form>
            {{#if mensaje}}
            <p class="{{tipo}}">{{mensaje}}</p>
            {{/if}}
        </div>
</div>